.app-container {
  display: flex; /* Use Flexbox for layout */
  
  
}

/* Sidebar styling */
.side {
  width: 250px; /* Fixed width for sidebar */
  height: 100vh; /* Full height */
  padding: 20px; /* Inner spacing */
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  position: fixed; /* Fixed position */
  top: 0;
  left: 0;
  background-color: #f7f7f7;
  z-index: 1; /* Ensure sidebar is above other content */
  box-sizing: border-box; /* Include padding and border in the element's total width */
}

.side.collapsed{
  width:0;
  overflow: hidden; 
}

/* Main content area */
.main-content {
  flex: 1; /* Take remaining space */
  margin-left: 290px; /* Offset by sidebar width */
  padding: 20px; 
  box-sizing: border-box;
}

.butt1{
  height:65px;
  width: 65px;
  
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .side {
    width: 100%; /* Full width on smaller screens */
    height: auto; /* Auto height */
    position: relative; /* Relative position */
    padding: 10px;
    box-shadow: none; /* Remove shadow */
  }

  .main-content {
    margin-left: 0; /* Remove margin on smaller screens */
  }
}