.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
  }
  
  h1 {
    color: #6a1b9a; /* Deep purple */
    margin-bottom: 20px;
    font-size: 2.5rem;
  }
  .inp1 {
    margin: 10px 0;
    width: 100%;
    max-width: 300px;
  }
  .MuiButton-contained {
    background-color: #6a1b9a; /* Deep purple */
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    text-transform: none;
    transition: background-color 0.3s ease;
  }
  
  .MuiButton-contained:hover {
    background-color: #9c27b0; /* Lighter purple on hover */
  }